<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NoahWeb_Private_Asset_Module</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <header>
        <div class="simple-navbar">
            <div class="container--cozy-wide">
                <a href="/" class="block-logo">
                    <img src="https://assetrisk.com/assets/images/logo-standard.svg" alt="ARC logo" width="64" height="64">
                </a>
                <ul class="simple-navbar-list">
                    <li><a href="/PrivateAssetModule/Index">Home</a></li>
                    <li><a href="/PrivateAssetModule/CreateAsset">Create New Asset</a></li>
                    <li><a href="/PrivateAssetModule/EditAsset">Edit Asset</a></li>
                    <li><a href="/PrivateAssetModule/AddTransaction">Add Transaction</a></li>
                    <li><a href="/PrivateAssetModule/EditTransaction">Edit Transaction</a></li>
                    <li><a href="/PrivateAssetModule/ViewValuation">View Valuation</a></li>
                    <li><a href="/PrivateAssetModule/EditValuation">Edit Valuation</a></li>
                    <li><a href="/PrivateAssetModule/AssetViewIndex">View Summary</a></li>
                </ul>
            </div>
        </div>



    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - NoahWeb_Private_Asset_Module - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

